@import "tailwindcss";

@theme {
  --color-sui-yellow: #ffc100;
}

:root {
  font-size: 1.1em;
}

html,
body {
  height: 100%;
  padding: 1em;
  scroll-behavior: smooth;
  font-family: "Dosis", sans-serif;
  background-color: var(--color-sui-yellow);
}

@layer components {
  main {
    gap: 1em;
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    flex-direction: column;
  }

  button:not([data-tw]) {
    font-size: 1em;
    cursor: pointer;

    font-family: inherit;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    background-color: white;
    transition: background-color 0.3s ease;

    &:focus {
      outline: 2px solid black;
    }

    &:hover {
      background-color: #ddde;
    }
  }

  input {
    border-radius: 0.5em;
    font-size: inherit;
    font-family: inherit;
    padding: 0.2em 0.5em;
    border: 2px solid gray;
  }

  code {
    margin: 0 0.2em;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0.3);

    &.balck {
      color: white;
      background-color: black;
    }
  }

  h1 {
    display: flex;
    max-width: 450px;
    font-size: 3.2em;
    margin: 0.3em auto 0;
    justify-content: center;
  }

  nav {
    top: 0.5em;
    z-index: 1000;
    display: flex;
    color: white;
    padding: 0.5em;
    position: sticky;
    font-size: 1.3em;
    margin: 2em auto;
    max-width: 960px;
    border-radius: 2em;
    background-color: black;
    justify-content: space-around;

    & > a {
      position: relative;
      border-radius: 3em;
      padding: 0 0.5em;

      &:focus {
        outline: 2px solid white;
      }

      &::before {
        content: "";
        left: 0;

        bottom: 0;
        height: 0.2em;
        border-radius: 6em;
        position: absolute;
        translate: 0 0.2em;
        background-color: white;
      }

      &:hover::before {
        animation-duration: 0.7s;
        animation-name: slide;
        animation-fill-mode: both;
        transition: bottom 0.3s ease;
      }

      &:hover:focus::before {
        bottom: -0.3em;
      }
    }
  }

  h2 {
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px black;
    font-family: "Bangers", sans-serif;
    margin-bottom: 0.5em;
  }

  h3 {
    font-size: 1.2em;
    margin-bottom: 0.4em;
  }

  /* ANIMATIONS */

  @keyframes slide {
    0% {
      left: 0;
      right: 100%;
    }

    40% {
      left: 90%;
      right: -30%;
    }

    100% {
      left: 0;
      right: 0;
    }
  }

  /* UTILS */

  .header {
    font-size: 1.4em;
    text-align: center;
  }

  .font-comic {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .text-frame {
    padding: 1em;
    border-radius: 1em;
    background-color: white;
    border-bottom: 4px solid black;
  }

  .comic-frame {
    z-index: 0;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5em 1.5em 1.5em 1.6em;
    transition: background-color 0.3s ease;
    clip-path: polygon(3% 12%, 100% 0%, 96% 100%, 0% 90%);

    &:hover {
      background-color: rgba(0, 0, 0, 1);
    }

    &::before {
      inset: 0;
      z-index: -1;
      content: "";
      position: absolute;
      background: white;
      clip-path: polygon(0 0, 100% -2%, 95% 90%, 0% 90%);
    }
  }

  .scrap-frame {
    z-index: 0;
    padding: 1em 1em calc(28px + 1em) 1em;
    flex-shrink: 0;
    position: relative;

    &::before {
      content: "";
      z-index: -1;
      inset: 0 0 14px 0;
      position: absolute;
      background-color: white;
      border-top-left-radius: 1em;
      border-top-right-radius: 1em;
    }

    &::after {
      content: "";
      left: 0;
      right: 0;
      height: 28px;
      bottom: -14px;
      position: absolute;
      background-repeat: repeat-x;
      background-image: url("/assets/scrap_bottom.svg");
    }
  }

  .examplebox {
    width: 100%;
    min-height: 200px;
    border-radius: 1em;
    border: 2px dashed rgba(0, 0, 0, 0.75);
    background-color: rgba(0, 0, 0, 0.05);
  }
}

/* DIALOGS */

dialog {
  margin: auto;
  padding: 0.4em;
  border-radius: 1em;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
