html,
body {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

dialog {
  border: none;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  font-family: monospace;
  background: transparent;
  overflow-x: hidden;

  & .frame {
    width: 100%;
    max-width: 24rem;
    background-color: rebeccapurple;
    color: whitesmoke;
    border-radius: 0.5em;
    padding: 1em;
    margin: 3em auto;

    & form {
      display: inline-flex;
    }

    & h1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.dialog {
  width: 300px;
  height: 140px;
  border: none;
  padding: 1em;
  color: white;
  border-radius: 0.5em;
  background: rebeccapurple;

  &.center {
    margin: auto;
  }

  &.xl {
    width: 600px;
    height: fit-content;
    margin-bottom: auto;
  }

  &.blue {
    background-color: #2277e6;
  }
}

.stack {
  display: flex;
  flex-direction: column;
}

.rail {
  gap: 1em;
  display: flex;
  align-items: center;

  &.spread {
    justify-content: space-between;
  }
}

.bottom {
  margin: auto 1em 1em auto;
}

.no-backdrop::backdrop {
  display: none;
  pointer-events: none;
}
.popup-button {
  background-color: #2277e6;
}

.popup:popover-open {
  background: rebeccapurple;
  flex-direction: column;
  display: flex;
  width: 100px;
  height: auto;
}
